body{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:1.2em;
}

header{
    background-color: rgba(255, 152, 152, 0.301);
}

nav{
    background-color: rgba(255, 252, 97, 0.411);
}

main {
    background-color:rgba(123, 252, 188, 0.39);
    font-size: 0.9em;
}

footer{
    background-color: rgba(199, 198, 166, 0.747);
}

li{
    display:inline;
    margin-right: 18%;
    width: 100%;
}

h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(54, 51, 51);
}

p{
    height:30%;
}